section.section-contact {
    padding: 40px;
}
.title-middle-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
h3 {
    line-height: 3;
}
.map {
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    font-weight: 400;
}
.title-middle-contact p::after {
    content: "";
    display: block;
    height: 4px;
    width: 50px;
    background: #084594;
    margin: 15px auto 0 auto;
}
#map{
    width: 100%;
    height: 500px;
}
.subdesc-contact p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container-contact {
    padding: 4rem;
}
@media screen and (max-width:768px){
    .container-contact {
        padding: 0
    }
    section.section-contact {
        padding: 2rem;
    }
}